/JogoDoGalo/nbproject/private/
/LicenseLibrary/nbproject/private/
/MRLicensing/nbproject/private/
/JogoDoGalo/build/
/JogoDoGalo/dist/
/LicenseLibrary/dist/
/LicenseLibrary/build/
/MRLicensing/build/
/MRLicensing/dist/
